@model HalloDoc.DAL.ViewModals.Access.AcccountAccessViewModel;
<div class="container-fluid mt-lg-5 mt-sm-3 mb-5">
    <!-- backbtn -->
    <div class="d-flex justify-content-center">
        <div class=" col-lg-8 col-md-8 col-sm-12 col-12 d-flex justify-content-start mb-3 mt-3">
            <div class="h4">Account Access</div>
        </div>
    </div>

    <!-- form for submit -->
    <div class="d-flex justify-content-center">
        <div class=" col-lg-8 col-md-8 col-sm-12 col-12 shadow  p-3"
             style="border-radius: 10px">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" id="createAccess"> create Access</button>
            </div>

            <div class="d-none d-md-block table-responsive d-none d-md-block">
                <table class="table table-striped table-responsive mt-3">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Account Type</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tboday>
                        @foreach (var obj in Model.roles)
                        {
                            Guid uuid = Guid.NewGuid();
                            <tr>

                                <td>
                                    @obj.Name
                                </td>
                                <td>
                                    @obj.AccounttypeNavigation.Name
                                </td>
                                <td>
                                    <div class="d-flex gap-1">
                                        <button class="btn btn-outline-primary" onclick="EditAccess(@obj.Roleid)">Edit</button>
                                        <button class="btn btn-outline-primary" onclick="DeleteAccess(@obj.Roleid)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        }




                    </tboday>
                </table>
                <div class="d-flex justify-content-between">
                    <span class="justify-content-start me-3 "> @Model.PageNumber  of @Model.maxPage </span>
                    <div class="d-flex justify-content-end mt-4 mb-5 gap-1">
                        <button class="btn btn-primary" style="border-radius:10%" onclick="FirstPage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                            </svg>
                        </button>
                        <button class="btn btn-primary" style="border-radius:10%" onclick="Previous()">Prev</button>
                        <input id="PageNumber" type="number" class="pt-2 pb-2" value="@Model.PageNumber" style="border:none; border-radius:50%; width:50px; height:50px; font-family:500; text-align:center; " disabled />
                        <button class="btn btn-primary" style="border-radius:10%" onclick="Next('@Model.maxPage')">Next</button>
                        <button class="btn btn-primary me-5" style="border-radius:10%" onclick="lastPage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
                                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-block d-md-none mt-3 p-2">

                @*   <div class="d-flex justify-content-end mb-4">
                <button class="btn btn-primary m-2" id="createAccess"> create Access</button>
                </div> *@
                @foreach (var obj in Model.roles)
                {
                    var myuuid = Guid.NewGuid();
                    var myid = "a" + myuuid;
                    <div @* style="background-color:#e4f8ff" *@>

                        <div class="shadow" style="border-radius:15px">
                            <div class="pt-2 ps-2" data-bs-toggle="collapse" href="#@myid" aria-expanded="false" aria-controls="#@myid">
                                <div class="d-flex justify-content-between">
                                    <span class="ms-2">  @obj.Name</span>
                                    <span class="me-3">
                                        @obj.AccounttypeNavigation.Name
                                    </span>
                                </div>
                            </div>
                            <br />
                            <div class="collapse col-sm-12 ps-3 in ms-3 me-3 " id="@myid">
                                <div class="d-flex gap-1">
                                    <button class="btn btn-outline-primary" onclick="EditAccess(@obj.Roleid)">Edit</button>
                                    <button class="btn btn-outline-primary" onclick="DeleteAccess(@obj.Roleid)">Delete</button>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                    <br />
                }

                <div class="d-flex justify-content-between">
                    <span class="justify-content-start me-3 "> @Model.PageNumber  of @Model.maxPage </span>
                    <div class="d-flex justify-content-end mt-4 mb-5 gap-1">
                        <button class="btn btn-primary" style="border-radius:10%" onclick="FirstPage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                            </svg>
                        </button>
                        <button class="btn btn-primary" style="border-radius:10%" onclick="Previous()">Prev</button>
                        <input id="PageNumber" type="number" class="pt-2 pb-2" value="@Model.PageNumber" style="border:none; border-radius:50%; width:50px; height:50px; font-family:500; text-align:center; " disabled />
                        <button class="btn btn-primary" style="border-radius:10%" onclick="Next('@Model.maxPage')">Next</button>
                        <button class="btn btn-primary me-5" style="border-radius:10%" onclick="lastPage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
                                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function lastPage() {
        let lastpage = 999999;
        $(".admin-data-container").load('/AdminPartials/Accountaccess?PageNumber=' + lastpage);
    };
    function FirstPage() {
        $(".admin-data-container").load('/AdminPartials/Accountaccess');
    }
    function Previous() {
        var CurrentPage = localStorage.getItem("RequestState");
        if ($("#PageNumber").val() > 1) {
            var pageNumbner = +$("#PageNumber").val() - 1;
            $(".admin-data-container").load('/AdminPartials/Accountaccess?PageNumber=' + pageNumbner);
        }
        else {
            return true;
        }
    }
    function Next(maxpage) {
        if ($("#PageNumber").val() != maxpage) {
            var pageNumbner = +$("#PageNumber").val() + 1;
            $(".admin-data-container").load('/AdminPartials/Accountaccess?PageNumber=' + pageNumbner);
        }
        else {
            return true;
        }
    }

    function EditAccess(roleid) {
        $(".admin-data-container").load('/AdminPartials/EditAccess?roleid=' + roleid, function () {
            $.ajax({
                url: '/AdminPartials/getRequestWiseAccess',
                method: 'POST',
                data: { roleid: roleid },
                success: function (response) {
                    stat = false;
                    $("#LoadRoleMenu").empty();
                    response.menumain.forEach(function (item) {
                        stat = false;
                        $.map(response.menu, function (elementOfArray, indexInArray) {
                            if (elementOfArray.menuid == item.menuid) {
                                $("#LoadRoleMenu").append('<input class="regioncheck" id="' + item.menuid + '" type = "checkbox" value = "' + item.name + '"  checked>  <label class="form-check-label me-3" for="' + item.menuid + '">' + item.name + '   </label > ');
                                stat = true;
                            }
                        });
                        if (stat == false) {
                            $("#LoadRoleMenu").append('<input class="regioncheck" id="' + item.menuid + '" type = "checkbox" value = "' + item.name + '" >  <label class="form-check-label me-3" for="' + item.menuid + '">' + item.name + '   </label > ');
                        }
                    });
                }
            });
        });
    }
    function DeleteAccess(roleid) {
        $.ajax({
            url: '/AdminPartials/DeleteAccess',
            data: { roleid: roleid },
            method: 'POST',
            success: function (response) {
                if (response) {
                    toastr.success("Access Deleted!")
                }
                else {
                    toastr.error("Something is not going preety well!")
                }
                $("#Account-access-drop-down").click();
            }
        });
    }
    $("#createAccess").click(function () {
        $(".admin-data-container").load('/AdminPartials/CreateAccess', function () {
            $.ajax({
                url: '/AdminPartials/getAccountRoleMenu',
                method: 'POST',
                success: function (response) {
                    $("#LoadRoleMenu").empty();
                    response.forEach(function (item) {
                        $("#LoadRoleMenu").append('<input class="regioncheck" id="' + item.menuid + '" type = "checkbox" value = "' + item.name + '"  >  <label class="form-check-label me-3" for="' + item.menuid + '">' + item.name + '   </label > ');
                    });
                }
            });
        })
    });
</script>