@model HalloDoc.DAL.DataModels.Encounterformdetail;
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encounter Form Details</title>
    <style>
        * {
            font-family: 'Arial', sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .encounterFormDetails {
            margin: 20px;
            padding: 20px;
            max-width: 800px;
            margin: auto;
        }

        h1 {
            color: #60cef3;
            font-size: 30px;
            margin-bottom: 25px;
            font-family: poppins;
        }

        .Branding {
            color: #60cef3;
            font-size: 45px;
            margin-bottom: 25px;
            font-family: poppins;
        }

        .PatientDetails {
            padding: 15px;
            background-color: #fff;
            border: 2px solid;
            border-radius: 25px;
        }

        .PatientData {
            border: 2px solid;
            padding: 15px;
            border-radius: 8px;
            background-color: #f0f0f0;
            margin-bottom: 15px;
            border: 1px solid #c0c0c0;
        }

            .PatientData span {
                font-weight: bolder;
                color: black;
            }

        .followup {
            color: #60cef3;
        }
    </style>

</head>
<body>
    <div class="encounterFormDetails justify-content-center  gap-4">
        <div class="d-flex justify-content-center">
            <h1 class="Branding h1">Namste From HalloDoc</h1>
        </div>

        <h1>Personal Details</h1>
        <div class="PatientDetails">
            <div class="PatientData">
                <span>First Name: </span> @Model.Reqestclient.Firstname
            </div>

            <div class="PatientData">
                <span>Last Name: </span> @Model.Reqestclient.Lastname
            </div>

            <div class="PatientData">
                <span>Location: </span> @Model.Reqestclient.Location
            </div>

            <div class="PatientData">
                <span>Date of Birth: </span> @Model.Reqestclient.Strmonth
            </div>

            @*     <div class="PatientData">
            <span>Date of Request: </span>
            </div> *@

            <div class="PatientData">
                <span>Email: </span> @Model.Reqestclient.Email
            </div>


        </div>

        <h1 class="mt-3">Encounter Form Details</h1>
        <div class="PatientDetails mt-3">
            <div class="PatientData">
                <span>History of Present Illness or Injury: </span> @Model.Injuryhistory
            </div>

            <div class="PatientData">
                <span>Medical History: </span> @Model.Medicalhistory
            </div>

            <div class="PatientData">
                <span>Medications: </span> @Model.Medications
            </div>

            <div class="PatientData">
                <span>Allergies: </span> @Model.Allergies
            </div>

            <div class="PatientData">
                <span>Temp: </span> @Model.Temp
            </div>

            <div class="PatientData">
                <span>HR: </span> @Model.Hr
            </div>

            <div class="PatientData">
                <span>RR: </span> @Model.Rr
            </div>

            <div class="PatientData">
                <span>Blood Pressure (Diastolic): </span> @Model.BpD
            </div>

            <div class="PatientData">
                <span>Blood Pressure (Systolic): </span> @Model.BpS
            </div>

            <div class="PatientData">
                <span>O2: </span> @Model.O2
            </div>

            <div class="PatientData">
                <span>HEENT: </span> @Model.Heent
            </div>

            <div class="PatientData">
                <span>Pain: </span> @Model.Pain
            </div>

            <div class="PatientData">
                <span>CV: </span> @Model.Cv
            </div>

            <div class="PatientData">
                <span>Chest: </span> @Model.Chest
            </div>

            <div class="PatientData">
                <span>Abdomen: </span> @Model.Abd
            </div>

            <div class="PatientData">
                <span>Extremities: </span> @Model.Extr
            </div>

            <div class="PatientData">
                <span>Skin: </span> @Model.Skin
            </div>

            <div class="PatientData">
                <span>Neuro: </span> @Model.Neuro
            </div>

            <div class="PatientData">
                <span>Other: </span> @Model.Other
            </div>

            <div class="PatientData">
                <span>Diagnosis: </span> @Model.Disgnosis
            </div>

            <div class="PatientData">
                <span>Treatment Plan: </span> @Model.Treatmentplan
            </div>

            <div class="PatientData">
                <span>Medications Dispensed: </span> @Model.Medicationdispensed
            </div>

            <div class="PatientData">
                <span>Procedures: </span> @Model.Procedure
            </div>

            <div class="PatientData followup">
                <span>Follow Up Frequency: </span> @Model.Followup
            </div>
        </div>
    </div>
</body>
</html>
